.wrapper{
    overflow-x: hidden;
}
.index-page .wrapper > .header {
    height: calc(100vh - 100px);
}
.index-page .brand {
    margin-top: 35vh;
}
@media (max-width: 767px){
    .index-page .wrapper > .header {
        height: calc(100vh - 75px);
    }   
    .section {
        padding: 20px 0;
    }
}

h2.title span.getTitle{
    color: #039BE5;
}
h2.title span.parenteses{
    color: #E91E63;
}
@media (max-width: 767px){
    h2.title span{
        display: none;
    }
}

/** NAV **/
    @media (max-width: 991px){
        .navbar .navbar-nav > li > a {
            padding: 15px 10px;
        }
    }
    @media (max-width: 767px){
        .navbar-icons{
            text-align: center;
        }
        .navbar-icons li{
            display: inline-block;
            width: auto;
        }
    }

/** Logo Container **/
    .logo-container .logo{
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
    }

    .logo-container .brand{
        font-size: 16px;
        color: #FFFFFF;
        line-height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 7px;
        width: 70px;
        height: 40px;
        text-align: left;
    }
    .logo-container .brand-material{
        font-size: 18px;
        margin-top: 15px;
        height: 25px;
        width: auto;
    }
    .logo-container .logo img{
        width: 100%;
    }
    .navbar-small .logo-container .brand{
        color: #333333;
    }
    @media (max-width: 767px){
        .logo-container .logo{
            margin-left: 20px;
        }
    }

/** HEADER **/
    @media (max-width: 767px){
        .index-page .brand h1{
            font-size: 2.8em;
        }
        .index-page .brand h2{
            margin-top: 0px;
            font-size: 1.1em;
        }
    }

/** Parallax Image **/
    .parallax .parallax-image{
        width: 100%;
        overflow: hidden;
        position: absolute;
    }
    .parallax .parallax-image img{
        width: 100%;
    }

    @media (max-width: 767px){
        .parallax .parallax-image{
             width: 100%;
             height: 640px;
             overflow: hidden;
         }
        .parallax .parallax-image img{
           height: 100%;
           width: auto;
       }
    }

/** Profile **/
    .profile{
        text-align: center;
        position: relative;
    }
    .profile .avatar{
        position: absolute;
        width: 100%;
        top: -200px;
    }
    .profile img{
        max-width: 160px;
        margin: 0 auto;
    }
    .profile .name{
        margin: 50px 0;
    }
    .profile .description{
        max-width: 600px;
        margin: 0 auto;
    }
    @media (max-width: 991px){
        .profile .avatar{
            top: -160px;
        }
        .profile img{
            max-width: 130px;
            margin: 0 auto;
        }
    }
    @media (max-width: 767px){
        .profile .name{
            margin: 50px 0 20px 0;
        }
        .profile .name h5{
            font-size: 1.15em;
        }
        .profile .avatar{
            top: -140px;
        }
    }

/** PERSONALITY **/
    .section-personality{
        background: #dfdfdf;
    }
    .section-personality .icon{
        width: 180px;
        height: auto;
        display: block;
        padding: 20px;
        margin: 0 auto;
        border-radius: 50%;
        background: #fff;
    }
    .section-personality .title{
        text-transform: uppercase;
        color: #3C4858;
    }
    .section-personality p{
        color: #3C4858;
        font-weight: 400;
    }
    .section-personality .tags{
        color: #c62828;
    }
    @media (max-width: 991px){
        .section-personality .icon{
            width: 150px;
        }
    }
    @media (max-width: 767px){
        .section-personality .icon{
            width: 100px;
            padding: 12px;
        }
        .section-personality .title{
            font-size: 1em;
            margin-bottom: 0px;
        }
        .section-personality p{
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 20px;
        }
    }

/** PORTFOLIO **/
    @media (max-width: 991px){
        .portfolio-item h3{
            margin-top: 0px;
        }
    }
    @media (max-width: 767px){
        .portfolio-item h3{
            margin-top: 15px;
        }   
    }

/** SKILLS **/
    .skill-icon {
        background-image: url(../img/spritesheet_skill-icon.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        margin: 0px 10px 10px 0px;
        height: 64px;
    }

    .skill-icon.html5 {
        width: 45px;
        background-position: -4px -4px;
    }

    .skill-icon.css3 {
        width: 45px;
        background-position: -57px -4px;
    }

    .skill-icon.javascript {
        width: 45px;
        background-position: -110px -4px;
    }

    .skill-icon.jquery {
        width: 45px;
        background-position: -163px -4px;
    }

    .skill-icon.bootstrap {
        width: 45px;
        background-position: -216px -4px;
    }

    .skill-icon.php {
        width: 45px;
        background-position: -269px -4px;
    }

    .skill-icon.mysql {
        width: 45px;
        background-position: -322px -4px;
    }

    .skill-icon.responsive {
        width: 45px;
        background-position: -375px -4px;
    }

    .skill-icon.crossbrowser {
        width: 45px;
        background-position: -428px -4px;
    }

    .skill-icon.photoshop {
        width: 45px;
        background-position: -481px -4px;
    }

    .skill-icon.sass {
        width: 45px;
        background-position: -534px -4px;
    }

    .skill-icon.laravel {
        width: 45px;
        background-position: -587px -4px;
    }

    .skill-icon.wordpress {
        width: 45px;
        background-position: -640px -4px;
    }

    .skill-icon.angular {
        width: 45px;
        background-position: -693px -4px;
    }

    .skill-icon.phonegap {
        width: 45px;
        background-position: -746px -4px;
    }

    .skill-icon.ionic {
        width: 45px;
        background-position: -799px -4px;
    }

    .skill-icon.git {
        width: 45px;
        background-position: -852px -4px;
    }

    .skill-icon.ui-ux {
        width: 45px;
        background-position: -905px -4px;
    }

    .skill-icon.firebase {
        width: 45px;
        background-position: -958px -4px;
    }

    .skill-icon.arduino {
        width: 45px;
        background-position: -1011px -4px;
    }

    @media (max-width: 991px){
        .skill-cat{
            margin-top: 40px;
        }
    }
    @media (max-width: 767px){
        .skill-cat:first-child{
            margin-top: 0px;
        }   
    }


/** EXPERIENCE **/
    .experience{
        margin-top: 60px;
    }
    .experience h3{     
        margin-bottom: 0px;
    }
    @media (max-width: 767px){
        .experience img{
            max-width: 100px;
            margin: 0 auto;
        }
    }

/** CONTACT **/
    @media (max-width: 991px){
        #contact.section{
            padding-top: 0px;
        }
    }

/** TYPED **/
    .ityped-cursor {
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }